---
layout: default
---

<div>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>

        {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        {% if post.title.size >= 60 %}
          <h2>
            <a class="post-link" href="{{ post.url | absolute_url }}" title="{{ post.title }}">{{ post.title | slice: 0,60 }}...</a>
          </h2>
          {{ post.excerpt | markdownify | truncatewords: 30 }}
        {% endif %}

        {% if 60 > post.title.size %}
          <h2>
            <a class="post-link" href="{{ post.url | absolute_url }}" title="{{ post.title }}">{{ post.title}}</a>
          </h2>
          {{ post.excerpt | markdownify | truncatewords: 30 }}
        {% endif %}

      </li>
    {% endfor %}
  </ul>

</div>
